h2 {
    text-align: center;
}
h1{text-align: center;color: mediumblue;font: size 250px;;}
p {
    font-size: xx-large;
}
body {
    background-color:darkgray;
}
h1 {
    font-size: xx-large;
}
h2 {
    background-color: red;
}